@font-face{
  font-family: PlusJakartaSans;
  src: url("../../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

@theme {
  /* Remove default tailwind container variables */
  --container-*: initial;
  --container-xs: 30rem; /* 480px */
  --container-sm: 40rem; /* 640px */
  --container-md: 48rem; /* 768px */
  --container-lg: 64rem; /* 1024px */

  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
  /* --font-display: "PlusJakartaSans", "sans-serif";  */

  --font-sans: PlusJakartaSans, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  /* --font-sans-regular: "PlusJakartaSansRegular", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-sans-medium: "PlusJakartaSansMedium", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-sans-semibold: "PlusJakartaSansSemiBold", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */

  --text-56: 3.5rem;
  --text-48: 3rem;
  --text-40: 2.5rem;
  --text-32: 2rem;
  --text-24: 1.5rem;
  --text-20: 1.25rem;
  --text-18: 1.125rem;
  --text-16: 1rem;
  --text-14: 0.875rem;
  --text-12: 0.75rem;
  --text-11: 0.68rem;
  --text-10: 0.625rem;

  --text-56--line-height: 4.25rem;
  --text-48--line-height: 3.5rem;
  --text-40--line-height: 3rem;
  --text-32--line-height: 2.5rem;
  --text-24--line-height: 2rem;
  --text-20--line-height: 1.875rem;
  --text-18--line-height: 1.75rem;
  --text-16--line-height: 1.5rem;
  --text-14--line-height: 1.25rem;
  --text-12--line-height: 1.125rem;
  --text-11--line-height: 1rem;
  --text-10--line-height: 1rem;

  --text-56--letter-spacing: -0.02em;
  --text-48--letter-spacing: -0.02em;
  --text-40--letter-spacing: -0.02em;
  --text-32--letter-spacing: -0.02em;
  --text-24--letter-spacing: -0.01em;

  --tracking-tighter: -0.02em;
  --tracking-tight: -0.01em;
  --tracking-normal: 0em;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;

  --radius-0: 0px;
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-32: 32px;
  --radius-40: 40px;
  --radius-full: 9999px;

  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 460;
  --font-weight-medium: 540;
  --font-weight-semibold: 620;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  --spacing: 1px;
}
