/* primitives */
@theme {
  /* @TODO: Uncomment below once all default tailwind colors are not in use */
  /* Remove default tailwind theme variables */
  /* --color-*: initial; */

  --color-current: currentcolor;
  --color-transparent: transparent;

  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);

  --color-neutral-25: rgb(249, 249, 250);
  --color-neutral-50: rgb(243, 243, 245);
  --color-neutral-100: rgb(231, 230, 235);
  --color-neutral-200: rgb(204, 202, 214);
  --color-neutral-300: rgb(177, 174, 193);
  --color-neutral-400: rgb(149, 145, 171);
  --color-neutral-500: rgb(122, 117, 150);
  --color-neutral-600: rgb(95, 89, 129);
  --color-neutral-700: rgb(68, 61, 108);
  --color-neutral-800: rgb(40, 32, 86);
  --color-neutral-900: rgb(14, 5, 66);
  --color-neutral-950: rgb(10, 4, 46);

  --color-neutral-grey-25: rgba(249, 249, 250, 1);
  --color-neutral-grey-50: rgba(243, 243, 244, 1);
  --color-neutral-grey-100: rgba(231, 231, 233, 1);
  --color-neutral-grey-200: rgba(207, 207, 211, 1);
  --color-neutral-grey-300: rgba(184, 182, 189, 1);
  --color-neutral-grey-400: rgba(160, 158, 167, 1);
  --color-neutral-grey-500: rgba(136, 134, 146, 1);
  --color-neutral-grey-600: rgba(112, 110, 124, 1);
  --color-neutral-grey-700: rgba(89, 85, 102, 1);
  --color-neutral-grey-800: rgba(65, 61, 80, 1);
  --color-neutral-grey-900: rgba(41, 37, 58, 1);
  --color-neutral-grey-950: rgba(22, 20, 31, 1);

  --color-brand-25: rgb(249, 249, 255);
  --color-brand-50: rgb(243, 244, 255);
  --color-brand-100: rgb(230, 231, 255);
  --color-brand-200: rgb(206, 208, 255);
  --color-brand-250: rgb(194, 197, 255);
  --color-brand-300: rgb(181, 185, 255);
  --color-brand-400: rgb(157, 162, 255);
  --color-brand-500: rgb(128, 134, 255);
  --color-brand-600: rgb(101, 106, 210);
  --color-brand-700: rgb(80, 84, 168);
  --color-brand-800: rgb(54, 58, 125);
  --color-brand-900: rgb(28, 31, 82);
  --color-brand-950: rgb(15, 17, 60);

  --color-purple-25: rgb(251, 250, 255);
  --color-purple-50: rgb(246, 245, 255);
  --color-purple-100: rgb(242, 240, 255);
  --color-purple-200: rgb(229, 224, 255);
  --color-purple-300: rgb(200, 189, 255);
  --color-purple-400: rgb(178, 163, 255);
  --color-purple-500: rgb(166, 148, 255);
  --color-purple-600: rgb(137, 114, 248);
  --color-purple-700: rgb(114, 90, 237);
  --color-purple-800: rgb(83, 56, 220);
  --color-purple-900: rgb(56, 30, 190);
  --color-purple-950: rgb(42, 22, 141);

  --color-blue-25: rgba(246, 251, 254, 1);
  --color-blue-50: rgba(236, 246, 253, 1);
  --color-blue-100: rgba(217, 237, 251, 1);
  --color-blue-200: rgba(194, 227, 250, 1);
  --color-blue-300: rgba(132, 198, 245, 1);
  --color-blue-400: rgba(85, 176, 241, 1);
  --color-blue-500: rgba(5, 151, 255, 1);
  --color-blue-600: rgba(17, 128, 208, 1);
  --color-blue-700: rgba(14, 106, 175, 1);
  --color-blue-800: rgba(11, 82, 132, 1);
  --color-blue-900: rgba(8, 61, 99, 1);
  --color-blue-950: rgba(6, 47, 75, 1);

  --color-teal-25: rgba(236, 253, 252, 1);
  --color-teal-50: rgba(227, 253, 251, 1);
  --color-teal-100: rgba(208, 251, 248, 1);
  --color-teal-200: rgba(128, 245, 235, 1);
  --color-teal-300: rgba(18, 222, 205, 1);
  --color-teal-400: rgba(16, 198, 183, 1);
  --color-teal-500: rgba(0, 184, 168, 1);
  --color-teal-600: rgba(0, 153, 140, 1);
  --color-teal-700: rgba(0, 128, 117, 1);
  --color-teal-800: rgba(0, 97, 89, 1);
  --color-teal-900: rgba(0, 71, 65, 1);
  --color-teal-950: rgba(0, 56, 51, 1);

  --color-green-25: rgb(235, 255, 245);
  --color-green-50: rgb(219, 255, 237);
  --color-green-100: rgb(204, 255, 230);
  --color-green-200: rgb(148, 245, 196);
  --color-green-300: rgb(22, 227, 125);
  --color-green-400: rgb(0, 204, 102);
  --color-green-500: rgb(0, 189, 94);
  --color-green-600: rgb(0, 158, 79);
  --color-green-700: rgb(0, 133, 66);
  --color-green-800: rgb(0, 102, 51);
  --color-green-900: rgb(0, 77, 38);
  --color-green-950: rgb(0, 56, 28);

  --color-peach-25: rgba(254, 248, 246, 1);
  --color-peach-50: rgba(254, 244, 241, 1);
  --color-peach-100: rgba(253, 240, 236, 1);
  --color-peach-200: rgba(251, 219, 208, 1);
  --color-peach-300: rgba(247, 182, 161, 1);
  --color-peach-400: rgba(245, 157, 128, 1);
  --color-peach-500: rgba(255, 125, 82, 1);
  --color-peach-600: rgba(237, 84, 33, 1);
  --color-peach-700: rgba(208, 65, 17, 1);
  --color-peach-800: rgba(160, 50, 13, 1);
  --color-peach-900: rgba(123, 38, 10, 1);
  --color-peach-950: rgba(90, 28, 7, 1);

  --color-success-25: rgb(245, 253, 251);
  --color-success-50: rgb(235, 251, 246);
  --color-success-100: rgb(214, 248, 238);
  --color-success-200: rgb(168, 232, 213);
  --color-success-300: rgb(122, 217, 189);
  --color-success-400: rgb(76, 201, 164);
  --color-success-500: rgb(30, 185, 139);
  --color-success-600: rgb(23, 158, 118);
  --color-success-700: rgb(17, 131, 97);
  --color-success-800: rgb(10, 104, 76);
  --color-success-900: rgb(3, 77, 55);
  --color-success-950: rgb(0, 63, 44);

  --color-warning-25: rgb(255, 252, 245);
  --color-warning-50: rgb(255, 250, 235);
  --color-warning-100: rgb(254, 240, 199);
  --color-warning-200: rgb(254, 223, 137);
  --color-warning-300: rgb(254, 200, 75);
  --color-warning-400: rgb(253, 176, 34);
  --color-warning-500: rgb(247, 144, 9);
  --color-warning-600: rgb(220, 104, 3);
  --color-warning-700: rgb(181, 71, 8);
  --color-warning-800: rgb(147, 55, 13);
  --color-warning-900: rgb(122, 46, 14);
  --color-warning-950: rgb(78, 29, 9);

  --color-error-25: rgb(255, 244, 243);
  --color-error-50: rgb(255, 233, 232);
  --color-error-100: rgb(254, 215, 212);
  --color-error-200: rgb(251, 178, 173);
  --color-error-300: rgb(248, 141, 133);
  --color-error-400: rgb(245, 104, 94);
  --color-error-500: rgb(242, 67, 54);
  --color-error-600: rgb(202, 52, 42);
  --color-error-700: rgb(163, 37, 30);
  --color-error-800: rgb(123, 22, 18);
  --color-error-900: rgb(84, 7, 6);
  --color-error-950: rgb(64, 0, 0);

  /* @TODO: Verify, secondary colors are not in the design */
  --color-secondary-25: rgb(249, 248, 255);
  --color-secondary-50: rgb(244, 243, 255);
  --color-secondary-100: rgb(234, 230, 255);
  --color-secondary-200: rgb(213, 206, 255);
  --color-secondary-300: rgb(191, 181, 255);
  --color-secondary-400: rgb(170, 157, 255);
  --color-secondary-500: rgb(149, 132, 255);
  --color-secondary-600: rgb(121, 106, 212);
  --color-secondary-700: rgb(93, 80, 168);
  --color-secondary-800: rgb(64, 54, 125);
  --color-secondary-900: rgb(36, 28, 82);
  --color-secondary-950: rgb(22, 15, 60);

  --color-gradienta: rgb(194, 197, 255);
  --color-gradientb: rgb(195, 255, 227);
}

/* text */
@theme inline {
  --color-text-primary: var(--color-neutral-900);
  --color-text-secondary: var(--color-neutral-700);
  --color-text-tertiary: var(--color-neutral-600);
  --color-text-quaternary: var(--color-neutral-500);
  --color-text-white: var(--color-white);
  --color-text-white-secondary: color-mix(in oklab, var(--color-white) 60%, transparent);
  --color-text-inactive: color-mix(in oklab, var(--color-neutral-900) 60%, transparent);
  --color-text-brand-primary: var(--color-brand-900);
  --color-text-brand-secondary: var(--color-brand-700);
  --color-text-brand-tertiary: var(--color-brand-600);
  --color-text-error-primary: var(--color-error-600);
  --color-text-error-secondary: var(--color-error-500);
  --color-text-error-tertiary: var(--color-error-400);
  --color-text-success-primary: var(--color-success-600);
  --color-text-success-secondary: var(--color-success-500);
  --color-text-success-tertiary: var(--color-success-400);
}

/* border */
@theme inline {
  --color-border-primary: color-mix(in oklab, var(--color-neutral-900) 25%, transparent);
  --color-border-primary-hover: color-mix(in oklab, var(--color-neutral-900) 40%, transparent);
  --color-border-primary-active: var(--color-brand-700);
  --color-border-secondary: color-mix(in oklab, var(--color-neutral-900) 16%, transparent);
  --color-border-secondary-solid: var(--color-neutral-200);
  --color-border-tertiary: color-mix(in oklab, var(--color-neutral-900) 8%, transparent);
  --color-border-tertiary-hover: color-mix(in oklab, var(--color-neutral-900) 16%, transparent);
  --color-border-quaternary: color-mix(in oklab, var(--color-neutral-900) 4%, transparent);
  --color-border-primary-error: var(--color-error-600);
  --color-border-white: var(--color-white);
}

/* foreground */
@theme inline {
  --color-fg-primary: var(--color-neutral-900);
  --color-fg-secondary: color-mix(in oklab, var(--color-neutral-900) 80%, transparent);
  --color-fg-tertiary: color-mix(in oklab, var(--color-neutral-900) 70%, transparent);
  --color-fg-quaternary: color-mix(in oklab, var(--color-neutral-900) 60%, transparent);
  --color-fg-quinary: color-mix(in oklab, var(--color-neutral-900) 50%, transparent);
  --color-fg-senary: color-mix(in oklab, var(--color-neutral-900) 40%, transparent);
  --color-fg-white: var(--color-white);
  --color-fg-inactive: color-mix(in oklab, var(--color-neutral-900) 40%, transparent);
  --color-fg-inactive-subtle: color-mix(in oklab, var(--color-neutral-900) 25%, transparent);
  --color-fg-brand: var(--color-brand-600);
  --color-fg-success: var(--color-success-600);
  --color-fg-error: var(--color-error-600);
}

/* background */
@theme inline {
  --color-bg-white: var(--color-white);
  --color-bg-white-secondary: color-mix(in oklab, var(--color-white) 80%, transparent);
  --color-bg-overlay: color-mix(in oklab, var(--color-neutral-grey-900) 30%, transparent);
  --color-bg-white-subtle: color-mix(in oklab, var(--color-white) 8%, transparent);
  --color-bg-primary: var(--color-transparent);
  --color-bg-primary-hover: color-mix(in oklab, var(--color-neutral-900) 4%, transparent);
  --color-bg-primary-active: color-mix(in oklab, var(--color-neutral-900) 8%, transparent);
  --color-bg-secondary: color-mix(in oklab, var(--color-neutral-900) 4%, transparent);
  --color-bg-secondary-hover: color-mix(in oklab, var(--color-neutral-900) 8%, transparent);
  --color-bg-tertiary: color-mix(in oklab, var(--color-neutral-900) 12%, transparent);
  --color-bg-tertiary-hover: color-mix(in oklab, var(--color-neutral-900) 16%, transparent);
  --color-bg-brand-primary-solid: var(--color-brand-600);
  --color-bg-brand-primary-solid-hover: var(--color-brand-700);
  --color-bg-brand-secondary-solid: var(--color-brand-800);
  --color-bg-brand-secondary-solid-hover: var(--color-brand-900);
  --color-bg-brand-subtle: color-mix(in oklab, var(--color-brand-500) 8%, transparent);
  --color-bg-brand-subtle-hover: color-mix(in oklab, var(--color-brand-500) 16%, transparent);
  --color-bg-brand-subtle-alt: color-mix(in oklab, var(--color-brand-500) 16%, transparent);
  --color-bg-brand-subtle-alt-hover: color-mix(in oklab, var(--color-brand-500) 25%, transparent);
  --color-bg-inactive: color-mix(in oklab, var(--color-neutral-900) 4%, transparent);
  --color-bg-error-primary: var(--color-error-25);
  --color-bg-error-primary-hover: var(--color-error-50);
  --color-bg-success-primary: var(--color-success-100);
  --color-bg-success-primary-hover: var(--color-success-200);
}

/* focus */
@theme inline {
  --color-focus-ring-brand: color-mix(in oklab, var(--color-brand-500) 25%, transparent);
  --color-focus-ring-neutral: color-mix(in oklab, var(--color-neutral-900) 8%, transparent);
}

/* button */
@theme inline {
  --color-button-primary-text: var(--color-white);
  --color-button-primary-icon: var(--color-white);
  --color-button-primary-bg: var(--color-brand-600);
  --color-button-primary-bg-hover: var(--color-brand-700);
  --color-button-secondary-text: color-mix(in oklab, var(--color-neutral-900) 80%, transparent);
  --color-button-secondary-icon: color-mix(in oklab, var(--color-neutral-900) 60%, transparent);
  --color-button-secondary-bg: var(--color-transparent);
  --color-button-secondary-bg-hover: color-mix(in oklab, var(--color-neutral-900) 8%, transparent);
  --color-button-secondary-bg-active: color-mix(in oklab, var(--color-neutral-900) 12%, transparent);
  --color-button-tertiary-text: color-mix(in oklab, var(--color-neutral-900) 80%, transparent);
  --color-button-tertiary-icon: color-mix(in oklab, var(--color-neutral-900) 60%, transparent);
  --color-button-tertiary-bg: var(--color-transparent);
  --color-button-tertiary-bg-hover: color-mix(in oklab, var(--color-neutral-900) 8%, transparent);
  --color-button-tertiary-bg-active: color-mix(in oklab, var(--color-neutral-900) 12%, transparent);
  --color-button-inactive-icon: color-mix(in oklab, var(--color-neutral-900) 25%, transparent);
  --color-link-neutral-text: color-mix(in oklab, var(--color-neutral-900) 80%, transparent);
  --color-link-neutral-text-hover: color-mix(in oklab, var(--color-neutral-900) 90%, transparent);
  --color-link-neutral-icon: color-mix(in oklab, var(--color-neutral-900) 60%, transparent);
  --color-link-neutral-icon-hover: color-mix(in oklab, var(--color-neutral-900) 70%, transparent);
  --color-link-brand-text: var(--color-brand-600);
  --color-link-brand-text-hover: var(--color-brand-700);
  --color-link-brand-icon: var(--color-brand-600);
  --color-link-brand-icon-hover: var(--color-brand-700);
  --color-button-primary-error-text: var(--color-white);
  --color-button-primary-error-bg: var(--color-error-600);
  --color-button-primary-error-bg-hover: var(--color-error-700);
  --color-button-secondary-error-text: var(--color-error-600);
  --color-button-secondary-error-text-hover: var(--color-error-700);
  --color-button-secondary-error-border: var(--color-error-50);
  --color-button-secondary-error-bg: var(--color-transparent);
  --color-button-secondary-error-bg-hover: var(--color-error-50);
  --color-button-tertiary-error-text: var(--color-error-600);
  --color-button-tertiary-error-text-hover: var(--color-error-700);
  --color-button-tertiary-error-bg: var(--color-transparent);
  --color-button-tertiary-error-bg-hover: var(--color-error-50);
  --color-link-error-text: var(--color-error-600);
  --color-link-error-text-hover: var(--color-error-700);
  --color-bg-striped: repeating-linear-gradient(to bottom, #039be5 0px, #039be5 20px, #90caf9 20px, #90caf9 40px);
}

/* avatar */
@theme inline {
  --color-avatar-border-contrast: color-mix(in oklab, var(--color-black) 8%, transparent);
}
