@import "tailwindcss";
@import "./base.css";
@import "./colors.css";
@plugin './tailwindcss-react-aria-components.js';
@plugin 'tailwindcss-animate';

@source "../src";

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility bg-gradient-glass-1 {
  background: linear-gradient(128.79deg, rgba(206, 208, 255, 0.4) 0%, rgba(194, 227, 250, 0.4) 109.84%);
}

@layer base {
  :root {
    @apply text-text-primary;

    background: var(--Gradient-Solid-01, linear-gradient(122deg, #ced0ff 0%, #94f5c4 122.42%));
  }

  div[data-testid="underlay"]:has(~ div > div[data-dark-backdrop="true"]) {
    @apply bg-bg-overlay;
    @apply z-10;
  }
}
