name: Building

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Setup Node.js first
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      # Enable Corepack and prepare pnpm
      - name: Enable Corepack and pnpm
        run: |
          corepack enable
          corepack prepare pnpm@latest --activate
          pnpm -v

      # Install dependencies
      - name: Install dependencies
        run: pnpm install

      # Build library
      - name: Build library
        run: pnpm build
